#header{
    background-image: url('./assets/images/defaultBG.jpeg');
    background-size:cover;
    background-position-y: 50%;
    color:white;
    background-color:rgb(83, 83, 83);
    position:relative !important;
}

#header h1{
    font-size:5em;
}

#search-city{
    width:80%;
}

#search-button-icon{
    width:15px;
    display:inline-block;
}

#current-weather {
    padding-left: 15px;
}

#clear-storage{
    color:grey;
    text-decoration: none;
    font-size:.75em;
    margin: .5em 0em 0em .5em;
}

.weather-card{
    width: 9rem;
    background-color: #4875B4;
    color: white;
}

.uv-green{
    background-color: green;
    border-radius: 5px;
    color: white;
}
.uv-yellow{
    background-color:yellow;
    border-radius: 5px;
    color: white;
}
.uv-orange{
    background-color: orange;
    border-radius: 5px;
    color: white;
}
.uv-red{
    background-color: red;
    border-radius: 5px;
    color: white;
}
.uv-violet{
    background-color: violet;
    border-radius: 5px;
    color: white;
}

.active {
    background-color: #4875B4;
}

#artist-credit{
    font-size:.5em;
    position:absolute;
    right:2em;
    bottom:1em;
}
#artist-credit a{
    color:white;
    text-decoration:none;
}

@media only screen and (max-width: 992px) {
    #search-city{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {
    #header h1{
        font-size:15vw !important;
    }
    #fiveDayForecastUl{
        justify-content: center;
    }
}